body {
  text-align: center;
  font-family: "Poppins";
}

.contianer {
  display: flex;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
div {
  display: flex;
  border: 1px solid wheat;
  text-align: left;
  background-color: burlywood;
  width: 333px;
  height: 268px;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

p {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding: 20px;
}

h3 {
  padding: 20px;
}

h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
