* {
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    border: 5px solid orange;
    width: auto;
    height: auto;
    margin: 50px 100px;
    display: flex;  
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    

}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.h1 {
    z-index: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hl {
    width: 60px;
    height: 20px;
    position: relative;
    top: 30px;
    right: 230px;
    z-index:  1;
    background-color: rgb(248, 179, 147);
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    
}

.digi,
.art,
.accnt,
.photogra {
    border: 2px solid rgba(245, 241, 241, 0.781);
    border-radius: 10px;
    width: 280px;
    height: 250px;
    padding:10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    
}

.copywrite,
.music,
.hr,
.explore {
    border: 2px solid rgba(245, 241, 241, 0.781);
    border-radius: 10px;
    width: 280px;
    height: 250px;
    padding:10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.icon {
    position: relative;
    bottom: 140px;
    margin: 0;
    padding: 0;
}

.text {
    position: relative;
    right: 50px;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.amount {
    color: lightslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-explo {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.arrow {
    position: absolute;
    top: 70px;
    right: -90px;

    
}

.arrow-explo {
    position: relative;
    top: 20px;
    left: 200px;
}
.explore {
    background-color: orange;
}

.row-1 :hover {
    background-color: rgb(185, 185, 185);
}
.row-2 :hover {
    background-color: rgb(185, 185, 185);
}

/* @media only screen and (min-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

} */

.row-1,.row-2 {
    flex-wrap: wrap;
}